@model ACCDataStore.Web.Areas.SchoolProfile.ViewModels.IndexSchoolProfile.IndexSchoolProfileViewModel
@section Header {
@*<link rel="stylesheet" href="~/Content/accdatastore/areas/nationality/views/nationality/nationality.css" type="text/css" />*@
<link rel="stylesheet" href="//cdn.datatables.net/1.10.7/css/jquery.dataTables.css" type="text/css" />
<script src="~/Scripts/accdatastore/areas/schoolprofile/views/IndexSchoolProfile/IndexSchoolProfile.js"></script>
@*<script type="text/javascript" src="http://code.highcharts.com/modules/exporting.js"></script>*@
<script type="text/javascript" src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
<script src="~/Scripts/jquery.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="~/Scripts/bootstrap.min.js"></script>
}
@{
    ViewBag.Title = "Index";
}
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Insight Profile</h2>
                @*<br />
        <h2>Background and Context</h2>*@
                <br />
                <h2 style="text-align: left"> <a onclick="goToCreateURL(this)" href="@Url.Content("~")InsightProfile/BenchmarkMeasure/IndexLeaverDestination">National Benchmarking Measure: Leaver Initial Destination</a></h2>
                @*<h2>National Benchmarking Measure: Leaver Initial Destination</h2>*@
                <br />
                <h2 style="text-align: left"> <a onclick="goToCreateURL(this)" href="@Url.Content("~")InsightProfile/BenchmarkMeasure/LeaverDestinationBreakdown">National Benchmarking Measure: Leaver Initial Destination Breakdown by Destination</a></h2>

            </div>
        </div>
    </div>
</body>
