@model ACCDataStore.Web.Areas.Nationality.ViewModels.IndexNationality.IndexViewModel
@section Header {
    <link rel="stylesheet" href="~/Content/accdatastore/areas/nationality/views/indexnationality/index.css" type="text/css" />
    <script src="~/Scripts/accdatastore/areas/nationality/views/indexnationality/index.js"></script>
}
<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
@foreach (var eNationality2012 in Model.ListNationality2012)
{
    <span>@eNationality2012.ID, @eNationality2012.NationalIdentity, @eNationality2012.Gender</span>
    <br />
}