@model ACCDataStore.Web.Areas.SchoolProfile.ViewModels.WiderAchievement.WiderAchievementViewModel
@section Header {
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/highcharts.js"></script>
}
@{
    //Wider Achievement
    ViewBag.Title = "Index";
}

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <table border="1" cellpadding="5">
                    <thead>
                        <tr>
                            <th colspan="2"></th>
                            <th colspan="3">Citywide Totals</th>
                        </tr>
                        <tr>
                            @foreach (System.Data.DataColumn col in Model.dtTable1.Columns)
                            {
                                <th>@col.Caption</th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (System.Data.DataRow row in Model.dtTable1.Rows)
                        {
                            <tr>
                                @foreach (var cell in row.ItemArray)
                                {
                                    <td>@cell.ToString()</td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
                <br>
                <table border="1" cellpadding="5">
                    <thead>
                        <tr>
                            <th colspan="2"></th>
                            <th colspan="3">Citywide Totals</th>
                        </tr>
                        <tr>
                            @foreach (System.Data.DataColumn col in Model.dtTable2.Columns)
                            {
                                <th>@col.Caption</th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (System.Data.DataRow row in Model.dtTable2.Rows)
                        {
                            <tr>
                                @foreach (var cell in row.ItemArray)
                                {
                                    <td>@cell.ToString()</td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

    </div> <!--container-->
</body>