@model ACCDataStore.Web.Areas.DatahubProfile.ViewModels.Datahub.DatahubViewModel
@section Header {
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/highcharts.js"></script>   
}
@{
    //Wider Achievement
    ViewBag.Title = "Index";
}

<body>
    <div class="container">
    <div class="row">
        <div class="col-md-3">
            <a href="portfolio-item.html">
                <img class="img-responsive img-hover" src="@Url.Content("~/Images/pupils.jpg")" alt="">
            </a>
        </div>
        <div class="col-md-9">
            <h2>Early Learning and Childcare Provision</h2>

            <p>
                If you have any queries regarding the data, please contact 
            </p>
            <p>
                 
            </p>
            <p>
                
            </p>
        </div>
    </div>
    </div> <!--container-->
</body>