@section Header {
    <link rel="stylesheet" href="~/Content/accdatastore/views/index/index.css" type="text/css" />
    <script src="~/Scripts/accdatastore/views/index/index.js"></script>
}
@*@HttpContext.Current.Application["APP_NAME"] @HttpContext.Current.Application["APP_VERSION"]
    <br />
    @Html.ActionLink("Nationality Test", "Index", "IndexNationality", new { Area = "Nationality" }, null)
    @Html.ActionLink("Nationality", "Index", "Nationality", new { Area = "Nationality" }, null)*@

<div>
    <h2> Home</h2>
    <p>Welcome to Aberdeen data Observatory Project. This website pull all project data together providing an up-to-data information on Digital Data Observatory Project for Aberdeen City Council. The aim of this project is to provide an easy access to a wide rang of information collected from local data source and can be analysed and enhanced decision making based on a robust evidence based for decision makers.</p>
</div>



